services:

  certbot:
    image: certbot/dns-cloudflare
    volumes:
      - /srv/openagents/letsencrypt/etc:/etc/letsencrypt
      - /srv/openagents/letsencrypt/log:/var/log/letsencrypt
      - /srv/openagents/letsencrypt/lib:/var/lib/letsencrypt
      - /srv/openagents/letsencrypt/cf.ini:/etc/letsencrypt/cf.ini
    command: certonly --dns-cloudflare --dns-cloudflare-credentials /etc/letsencrypt/cf.ini -d ${SSL_DOMAINS} --cert-name mvp-pool  --dns-cloudflare-propagation-seconds 60  --non-interactive --expand --agree-tos -m $SSL_EMAIL
  

  pool:
    image: ghcr.io/openagentsinc/openagents-pool@sha256:b08a62c9a7a486c5395cf0b190fc177048d07cb06722f06c466c9972f3adcbe3
    restart: always
    networks:
      - openagents-mvp-network
    environment:
      - NOSTR_RELAYS=${NOSTR_RELAYS}
      - POOL_NOSTR_SECRET_KEY=${POOL_NOSTR_SECRET_KEY}
      - POOL_GRPC_SERVER_CRT=/etc/letsencrypt/live/mvp-pool/fullchain.pem
      - POOL_GRPC_SERVER_KEY=/etc/letsencrypt/live/mvp-pool/privkey.pem
      - OPENOBSERVE_ENDPOINT=${OPENOBSERVE_ENDPOINT}
      - OPENOBSERVE_ORG=${OPENOBSERVE_ORG}
      - OPENOBSERVE_STREAM=${OPENOBSERVE_STREAM}
      - OPENOBSERVE_USERNAME=${OPENOBSERVE_USERNAME}
      - OPENOBSERVE_PASSWORD=${OPENOBSERVE_PASSWORD}
      - OPENOBSERVE_BATCHSIZE=${OPENOBSERVE_BATCHSIZE}
      - OPENOBSERVE_FLUSH_INTERVAL=${OPENOBSERVE_FLUSH_INTERVAL}
      - OPENOBSERVE_LOG_LEVEL=${OPENOBSERVE_LOG_LEVEL}
      - POOL_EVENTS_WEBHOOK_ENDPOINTS=${POOL_EVENTS_WEBHOOK_ENDPOINTS}
      - POOL_AUTH_SERVICE=json:/auth/auth.json
      - LOG_LEVEL=${LOG_LEVEL}
    volumes:
      - /srv/openagents/pool/blobs:/blobs
      - /srv/openagents/letsencrypt/etc:/etc/letsencrypt
      - /srv/openagents/pool/auth/:/auth
    ports:
      - "5000:5000"


  extism-runtime:
    image: ghcr.io/openagentsinc/openagents-extism-runtime@sha256:1dff60ffe7d1a7bbabd450c0524fd841f8cf560599de160f4ec0ede5cf0a00e2
    restart: always
    environment:
      - POOL_ADDRESS=${POOL_ADDRESS}
      - POOL_PORT=${POOL_PORT}
      - POOL_SSL=${POOL_SSL}
      - EXTISM_RUNTIME_SECRETS_PROVIDERS=/secrets/secrets.json
      - NODE_TOKEN=${EXTISM_RUNTIME_NODE_TOKEN}
      - OPENOBSERVE_ENDPOINT=${OPENOBSERVE_ENDPOINT}
      - OPENOBSERVE_ORG=${OPENOBSERVE_ORG}
      - OPENOBSERVE_STREAM=${OPENOBSERVE_STREAM}
      - OPENOBSERVE_USERNAME=${OPENOBSERVE_USERNAME}
      - OPENOBSERVE_PASSWORD=${OPENOBSERVE_PASSWORD}
      - OPENOBSERVE_BATCHSIZE=${OPENOBSERVE_BATCHSIZE}
      - OPENOBSERVE_FLUSH_INTERVAL=${OPENOBSERVE_FLUSH_INTERVAL}
      - OPENOBSERVE_LOG_LEVEL=${OPENOBSERVE_LOG_LEVEL}
      - LOG_LEVEL=${LOG_LEVEL}
    volumes:
      -  /srv/openagents/extism-runtime/secrets:/secrets
    networks:
      - openagents-mvp-network

  search:
    image: ghcr.io/openagentsinc/openagents-search@sha256:af9bf92ab72b3c075f806167e9385a3bbed66feb2c6bf5f22e44ed498bedbeff
    restart: always
    environment:
      - POOL_ADDRESS=${POOL_ADDRESS}
      - POOL_PORT=${POOL_PORT}
      - POOL_SSL=${POOL_SSL}
      - NODE_TOKEN=${SEARCH_NODE_TOKEN}
      - OPENOBSERVE_ENDPOINT=${OPENOBSERVE_ENDPOINT}
      - OPENOBSERVE_ORG=${OPENOBSERVE_ORG}
      - OPENOBSERVE_STREAM=${OPENOBSERVE_STREAM}
      - OPENOBSERVE_USERNAME=${OPENOBSERVE_USERNAME}
      - OPENOBSERVE_PASSWORD=${OPENOBSERVE_PASSWORD}
      - OPENOBSERVE_BATCHSIZE=${OPENOBSERVE_BATCHSIZE}
      - OPENOBSERVE_FLUSH_INTERVAL=${OPENOBSERVE_FLUSH_INTERVAL}
      - OPENOBSERVE_LOG_LEVEL=${OPENOBSERVE_LOG_LEVEL}
      - LOG_LEVEL=${LOG_LEVEL}
    volumes:
      - /srv/openagents/search/cache:/cache
    networks:
      - openagents-mvp-network

    
  embeddings:
    image: ghcr.io/openagentsinc/openagents-embeddings@sha256:6f0de93e81ce071ffa30608da986b081206cd608c384b812799f2a60925dc656
    restart: always
    environment:
      - POOL_ADDRESS=${POOL_ADDRESS}
      - POOL_PORT=${POOL_PORT}
      - POOL_SSL=${POOL_SSL}
      - CACHE_PATH=/cache
      - EMBEDDINGS_TRANSFORMERS_DEVICE=${EMBEDDINGS_TRANSFORMERS_DEVICE}
      - EMBEDDINGS_MODEL=${EMBEDDINGS_MODEL}
      - EMBEDDINGS_MAX_TEXT_LENGTH=${EMBEDDINGS_MAX_TEXT_LENGTH}
      - NODE_TOKEN=${EMBEDDINGS_NODE_TOKEN}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - OPENOBSERVE_ENDPOINT=${OPENOBSERVE_ENDPOINT}
      - OPENOBSERVE_ORG=${OPENOBSERVE_ORG}
      - OPENOBSERVE_STREAM=${OPENOBSERVE_STREAM}
      - OPENOBSERVE_USERNAME=${OPENOBSERVE_USERNAME}
      - OPENOBSERVE_PASSWORD=${OPENOBSERVE_PASSWORD}
      - OPENOBSERVE_BATCHSIZE=${OPENOBSERVE_BATCHSIZE}
      - OPENOBSERVE_FLUSH_INTERVAL=${OPENOBSERVE_FLUSH_INTERVAL}
      - OPENOBSERVE_LOG_LEVEL=${OPENOBSERVE_LOG_LEVEL}
      - LOG_LEVEL=${LOG_LEVEL}
    volumes:
      - /srv/openagents/embeddings/cache:/cache
    networks:
      - openagents-mvp-network

  retrieval:
    image: ghcr.io/openagentsinc/openagents-document-retrieval@sha256:3acbbf3226c9c0af586ed6867a1cf01828fa6e4f4fc27f2986f5deb7af7749ac
    restart: always
    environment:
      - POOL_ADDRESS=${POOL_ADDRESS}
      - POOL_PORT=${POOL_PORT}
      - POOL_SSL=${POOL_SSL}
      - NODE_TOKEN=${DOCUMENT_RETRIEVAL_NODE_TOKEN}
      - OPENOBSERVE_ENDPOINT=${OPENOBSERVE_ENDPOINT}
      - OPENOBSERVE_ORG=${OPENOBSERVE_ORG}
      - OPENOBSERVE_STREAM=${OPENOBSERVE_STREAM}
      - OPENOBSERVE_USERNAME=${OPENOBSERVE_USERNAME}
      - OPENOBSERVE_PASSWORD=${OPENOBSERVE_PASSWORD}
      - OPENOBSERVE_BATCHSIZE=${OPENOBSERVE_BATCHSIZE}
      - OPENOBSERVE_FLUSH_INTERVAL=${OPENOBSERVE_FLUSH_INTERVAL}
      - OPENOBSERVE_LOG_LEVEL=${OPENOBSERVE_LOG_LEVEL}
      - LOG_LEVEL=${LOG_LEVEL}
    volumes:
      - /srv/openagents/retrieval/cache:/cache
    networks:
      - openagents-mvp-network

networks:
  openagents-mvp-network:
    driver: bridge