services:

  certbot:
    image: certbot/dns-cloudflare
    volumes:
      - /srv/openagents/letsencrypt/etc:/etc/letsencrypt
      - /srv/openagents/letsencrypt/log:/var/log/letsencrypt
      - /srv/openagents/letsencrypt/lib:/var/lib/letsencrypt
      - /srv/openagents/letsencrypt/cf.ini:/etc/letsencrypt/cf.ini
    command: certonly --dns-cloudflare --dns-cloudflare-credentials /etc/letsencrypt/cf.ini -d ${SSL_DOMAINS} --cert-name mvp-pool  --dns-cloudflare-propagation-seconds 60  --non-interactive --expand --agree-tos -m $SSL_EMAIL
  

  pool:
    image: ghcr.io/openagentsinc/openagents-pool@sha256:58cbe325491f7b7abd7846d09b1bd8dbc7702d575cd8b105a9a888ec15f1b15e
    restart: always
    networks:
      - openagents-mvp-network
    environment:
      - NOSTR_RELAYS=${NOSTR_RELAYS}
      - POOL_NOSTR_SECRET_KEY=${POOL_NOSTR_SECRET_KEY}
      - POOL_GRPC_SERVER_CRT=/etc/letsencrypt/live/mvp-pool/fullchain.pem
      - POOL_GRPC_SERVER_KEY=/etc/letsencrypt/live/mvp-pool/privkey.pem
      - OPENOBSERVE_ENDPOINT=${OPENOBSERVE_ENDPOINT}
      - OPENOBSERVE_ORG=${OPENOBSERVE_ORG}
      - OPENOBSERVE_STREAM=${OPENOBSERVE_STREAM}
      - OPENOBSERVE_USERNAME=${OPENOBSERVE_USERNAME}
      - OPENOBSERVE_PASSWORD=${OPENOBSERVE_PASSWORD}
      - OPENOBSERVE_BATCHSIZE=${OPENOBSERVE_BATCHSIZE}
      - OPENOBSERVE_FLUSH_INTERVAL=${OPENOBSERVE_FLUSH_INTERVAL}
      - OPENOBSERVE_LOG_LEVEL=${OPENOBSERVE_LOG_LEVEL}
      - POOL_EVENTS_WEBHOOK_ENDPOINTS=${POOL_EVENTS_WEBHOOK_ENDPOINTS}
      - POOL_AUTH_SERVICE=json:/auth/auth.json
      - LOG_LEVEL=${LOG_LEVEL}
    volumes:
      - /srv/openagents/pool/blobs:/blobs
      - /srv/openagents/letsencrypt/etc:/etc/letsencrypt
      - /srv/openagents/pool/auth/:/auth
    ports:
      - "5000:5000"
      - "5021:5000"


  extism-runtime:
    image: ghcr.io/openagentsinc/openagents-extism-runtime@sha256:0932bb54fb855249adfe16e965d02546d38ecf0ff6f6cfc4d5d22ccb561bfdf9
    restart: always
    environment:
      - POOL_ADDRESS=${POOL_ADDRESS}
      - POOL_PORT=${POOL_PORT}
      - POOL_SSL=${POOL_SSL}
      - EXTISM_RUNTIME_SECRETS_PROVIDERS=https://openagents.com/api/v1/plugins/secrets?secret=${EXTISM_RUNTIME_PLUGINS_SECRET}
      - PLUGINS_REPO=https://openagents.com/api/v1/plugins
      - NODE_TOKEN=${EXTISM_RUNTIME_NODE_TOKEN}
      - OPENOBSERVE_ENDPOINT=${OPENOBSERVE_ENDPOINT}
      - OPENOBSERVE_ORG=${OPENOBSERVE_ORG}
      - OPENOBSERVE_STREAM=${OPENOBSERVE_STREAM}
      - OPENOBSERVE_USERNAME=${OPENOBSERVE_USERNAME}
      - OPENOBSERVE_PASSWORD=${OPENOBSERVE_PASSWORD}
      - OPENOBSERVE_BATCHSIZE=${OPENOBSERVE_BATCHSIZE}
      - OPENOBSERVE_FLUSH_INTERVAL=${OPENOBSERVE_FLUSH_INTERVAL}
      - OPENOBSERVE_LOG_LEVEL=${OPENOBSERVE_LOG_LEVEL}
      - LOG_LEVEL=${LOG_LEVEL}
    volumes:
      -  /srv/openagents/extism-runtime/secrets:/secrets
    networks:
      - openagents-mvp-network

  search:
    image: ghcr.io/openagentsinc/openagents-search@sha256:024b69432fb13ebd7c6e7de8e4e2dcfda90f4186cce79bec993226a0382eee9c
    restart: always
    environment:
      - POOL_ADDRESS=${POOL_ADDRESS}
      - POOL_PORT=${POOL_PORT}
      - POOL_SSL=${POOL_SSL}
      - NODE_TOKEN=${SEARCH_NODE_TOKEN}
      - OPENOBSERVE_ENDPOINT=${OPENOBSERVE_ENDPOINT}
      - OPENOBSERVE_ORG=${OPENOBSERVE_ORG}
      - OPENOBSERVE_STREAM=${OPENOBSERVE_STREAM}
      - OPENOBSERVE_USERNAME=${OPENOBSERVE_USERNAME}
      - OPENOBSERVE_PASSWORD=${OPENOBSERVE_PASSWORD}
      - OPENOBSERVE_BATCHSIZE=${OPENOBSERVE_BATCHSIZE}
      - OPENOBSERVE_FLUSH_INTERVAL=${OPENOBSERVE_FLUSH_INTERVAL}
      - OPENOBSERVE_LOG_LEVEL=${OPENOBSERVE_LOG_LEVEL}
      - LOG_LEVEL=${LOG_LEVEL}
    volumes:
      - /srv/openagents/search/cache:/cache
    networks:
      - openagents-mvp-network

    
  embeddings:
    image: ghcr.io/openagentsinc/openagents-embeddings@sha256:53c68514174c97079ac1c974d24fbc1466c51e42d469566c9c6ea0ccd3374223
    restart: always
    environment:
      - POOL_ADDRESS=${POOL_ADDRESS}
      - POOL_PORT=${POOL_PORT}
      - POOL_SSL=${POOL_SSL}
      - CACHE_PATH=/cache
      - EMBEDDINGS_TRANSFORMERS_DEVICE=${EMBEDDINGS_TRANSFORMERS_DEVICE}
      - EMBEDDINGS_MODEL=${EMBEDDINGS_MODEL}
      - EMBEDDINGS_MAX_TEXT_LENGTH=${EMBEDDINGS_MAX_TEXT_LENGTH}
      - NODE_TOKEN=${EMBEDDINGS_NODE_TOKEN}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - OPENOBSERVE_ENDPOINT=${OPENOBSERVE_ENDPOINT}
      - OPENOBSERVE_ORG=${OPENOBSERVE_ORG}
      - OPENOBSERVE_STREAM=${OPENOBSERVE_STREAM}
      - OPENOBSERVE_USERNAME=${OPENOBSERVE_USERNAME}
      - OPENOBSERVE_PASSWORD=${OPENOBSERVE_PASSWORD}
      - OPENOBSERVE_BATCHSIZE=${OPENOBSERVE_BATCHSIZE}
      - OPENOBSERVE_FLUSH_INTERVAL=${OPENOBSERVE_FLUSH_INTERVAL}
      - OPENOBSERVE_LOG_LEVEL=${OPENOBSERVE_LOG_LEVEL}
      - LOG_LEVEL=${LOG_LEVEL}
    volumes:
      - /srv/openagents/embeddings/cache:/cache
    networks:
      - openagents-mvp-network

  retrieval:
    image: ghcr.io/openagentsinc/openagents-document-retrieval@sha256:83dce757b11c1cf3c67d009baa8d9e9232b349614334f7ce75103a066aeca9df
    restart: always
    environment:
      - POOL_ADDRESS=${POOL_ADDRESS}
      - POOL_PORT=${POOL_PORT}
      - POOL_SSL=${POOL_SSL}
      - NODE_TOKEN=${DOCUMENT_RETRIEVAL_NODE_TOKEN}
      - OPENOBSERVE_ENDPOINT=${OPENOBSERVE_ENDPOINT}
      - OPENOBSERVE_ORG=${OPENOBSERVE_ORG}
      - OPENOBSERVE_STREAM=${OPENOBSERVE_STREAM}
      - OPENOBSERVE_USERNAME=${OPENOBSERVE_USERNAME}
      - OPENOBSERVE_PASSWORD=${OPENOBSERVE_PASSWORD}
      - OPENOBSERVE_BATCHSIZE=${OPENOBSERVE_BATCHSIZE}
      - OPENOBSERVE_FLUSH_INTERVAL=${OPENOBSERVE_FLUSH_INTERVAL}
      - OPENOBSERVE_LOG_LEVEL=${OPENOBSERVE_LOG_LEVEL}
      - LOG_LEVEL=${LOG_LEVEL}
    volumes:
      - /srv/openagents/retrieval/cache:/cache
    networks:
      - openagents-mvp-network

  hookproxy:
    image: ghcr.io/openagentsinc/openagents-webhook-proxy:master
    restart: always
    environment:
      - SERVER_CRT=/etc/letsencrypt/live/mvp-pool/fullchain.pem
      - SERVER_KEY=/etc/letsencrypt/live/mvp-pool/privkey.pem
    volumes:
      - /srv/openagents/letsencrypt/etc:/etc/letsencrypt
    networks:
      - openagents-mvp-network
    ports:
      - "3000:3000"
    command: server

  tools:
    image: ghcr.io/openagentsinc/openagents-tools@sha256:203493ec6db017b37fb60991ff84a24aa4a66a1a5107eefd1b28ec0cabaaad64
    restart: always
    environment:
      - POOL_ADDRESS=${POOL_ADDRESS}
      - POOL_PORT=${POOL_PORT}
      - POOL_SSL=${POOL_SSL}
      - NODE_TOKEN=${TOOLS_NODE_TOKEN}
      - OPENOBSERVE_ENDPOINT=${OPENOBSERVE_ENDPOINT}
      - OPENOBSERVE_ORG=${OPENOBSERVE_ORG}
      - OPENOBSERVE_STREAM=${OPENOBSERVE_STREAM}
      - OPENOBSERVE_USERNAME=${OPENOBSERVE_USERNAME}
      - OPENOBSERVE_PASSWORD=${OPENOBSERVE_PASSWORD}
      - OPENOBSERVE_BATCHSIZE=${OPENOBSERVE_BATCHSIZE}
      - OPENOBSERVE_FLUSH_INTERVAL=${OPENOBSERVE_FLUSH_INTERVAL}
      - OPENOBSERVE_LOG_LEVEL=${OPENOBSERVE_LOG_LEVEL}
      - LOG_LEVEL=${LOG_LEVEL}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    volumes:
      - /srv/openagents/tools/cache:/cache
    networks:
      - openagents-mvp-network

networks:
  openagents-mvp-network:
    driver: bridge