services:

  certbot:
    image: certbot/dns-cloudflare
    volumes:
      - /srv/openagents/letsencrypt/etc:/etc/letsencrypt
      - /srv/openagents/letsencrypt/log:/var/log/letsencrypt
      - /srv/openagents/letsencrypt/lib:/var/lib/letsencrypt
      - /srv/openagents/letsencrypt/cf.ini:/etc/letsencrypt/cf.ini
    command: certonly --dns-cloudflare --dns-cloudflare-credentials /etc/letsencrypt/cf.ini -d ${SSL_DOMAINS} --cert-name mvp-pool  --dns-cloudflare-propagation-seconds 60  --non-interactive --expand --agree-tos -m $SSL_EMAIL
  

  pool:
    image: ghcr.io/openagentsinc/openagents-pool@sha256:23c5844f34fd1b2b0b94e1342f8055d747d6cf3a4b1ea06c4c09ef2d928d66bb
    restart: always
    networks:
      - openagents-mvp-network
    environment:
      - NOSTR_RELAYS=${NOSTR_RELAYS}
      - POOL_NOSTR_SECRET_KEY=${POOL_NOSTR_SECRET_KEY}
      - POOL_GRPC_SERVER_CRT=/etc/letsencrypt/live/mvp-pool/fullchain.pem
      - POOL_GRPC_SERVER_KEY=/etc/letsencrypt/live/mvp-pool/privkey.pem
      - OPENOBSERVE_ENDPOINT=${OPENOBSERVE_ENDPOINT}
      - OPENOBSERVE_ORG=${OPENOBSERVE_ORG}
      - OPENOBSERVE_STREAM=${OPENOBSERVE_STREAM}
      - OPENOBSERVE_USERNAME=${OPENOBSERVE_USERNAME}
      - OPENOBSERVE_PASSWORD=${OPENOBSERVE_PASSWORD}
      - OPENOBSERVE_BATCHSIZE=${OPENOBSERVE_BATCHSIZE}
      - OPENOBSERVE_FLUSH_INTERVAL=${OPENOBSERVE_FLUSH_INTERVAL}
      - OPENOBSERVE_LOG_LEVEL=${OPENOBSERVE_LOG_LEVEL}
      - POOL_EVENTS_WEBHOOK_ENDPOINTS=${POOL_EVENTS_WEBHOOK_ENDPOINTS}
      - POOL_AUTH_SERVICE=json:/auth/auth.json
      - LOG_LEVEL=${LOG_LEVEL}
    volumes:
      - /srv/openagents/pool/blobs:/blobs
      - /srv/openagents/letsencrypt/etc:/etc/letsencrypt
      - /srv/openagents/pool/auth/:/auth
    ports:
      - "5000:5000"
      - "5021:5000"


  extism-runtime:
    image: ghcr.io/openagentsinc/openagents-extism-runtime@sha256:b74433b4d3722943f6ae758e66d374994e1a3d2fbf8be1d5cd12570086e678a1
    restart: always
    environment:
      - POOL_ADDRESS=${POOL_ADDRESS}
      - POOL_PORT=${POOL_PORT}
      - POOL_SSL=${POOL_SSL}
      - EXTISM_RUNTIME_SECRETS_PROVIDERS=https://openagents.com/api/v1/plugins/secrets?secret=${EXTISM_RUNTIME_PLUGINS_SECRET}
      - PLUGINS_REPO=https://openagents.com/api/v1/plugins
      - NODE_TOKEN=${EXTISM_RUNTIME_NODE_TOKEN}
      - OPENOBSERVE_ENDPOINT=${OPENOBSERVE_ENDPOINT}
      - OPENOBSERVE_ORG=${OPENOBSERVE_ORG}
      - OPENOBSERVE_STREAM=${OPENOBSERVE_STREAM}
      - OPENOBSERVE_USERNAME=${OPENOBSERVE_USERNAME}
      - OPENOBSERVE_PASSWORD=${OPENOBSERVE_PASSWORD}
      - OPENOBSERVE_BATCHSIZE=${OPENOBSERVE_BATCHSIZE}
      - OPENOBSERVE_FLUSH_INTERVAL=${OPENOBSERVE_FLUSH_INTERVAL}
      - OPENOBSERVE_LOG_LEVEL=${OPENOBSERVE_LOG_LEVEL}
      - LOG_LEVEL=${LOG_LEVEL}
    volumes:
      -  /srv/openagents/extism-runtime/secrets:/secrets
    networks:
      - openagents-mvp-network

  search:
    image: ghcr.io/openagentsinc/openagents-search@sha256:1343b84c354b8cba5fa03798950ad039bec51b4e154594ebaeb46e5565936e06
    restart: always
    environment:
      - POOL_ADDRESS=${POOL_ADDRESS}
      - POOL_PORT=${POOL_PORT}
      - POOL_SSL=${POOL_SSL}
      - NODE_TOKEN=${SEARCH_NODE_TOKEN}
      - OPENOBSERVE_ENDPOINT=${OPENOBSERVE_ENDPOINT}
      - OPENOBSERVE_ORG=${OPENOBSERVE_ORG}
      - OPENOBSERVE_STREAM=${OPENOBSERVE_STREAM}
      - OPENOBSERVE_USERNAME=${OPENOBSERVE_USERNAME}
      - OPENOBSERVE_PASSWORD=${OPENOBSERVE_PASSWORD}
      - OPENOBSERVE_BATCHSIZE=${OPENOBSERVE_BATCHSIZE}
      - OPENOBSERVE_FLUSH_INTERVAL=${OPENOBSERVE_FLUSH_INTERVAL}
      - OPENOBSERVE_LOG_LEVEL=${OPENOBSERVE_LOG_LEVEL}
      - LOG_LEVEL=${LOG_LEVEL}
    volumes:
      - /srv/openagents/search/cache:/cache
    networks:
      - openagents-mvp-network

    
  embeddings:
    image: ghcr.io/openagentsinc/openagents-embeddings@sha256:dc0b01bb1b26a7041b7f0ba04de79e28e5a26fb6f9a5ad58a78a39667d098c26
    restart: always
    environment:
      - POOL_ADDRESS=${POOL_ADDRESS}
      - POOL_PORT=${POOL_PORT}
      - POOL_SSL=${POOL_SSL}
      - CACHE_PATH=/cache
      - EMBEDDINGS_TRANSFORMERS_DEVICE=${EMBEDDINGS_TRANSFORMERS_DEVICE}
      - EMBEDDINGS_MODEL=${EMBEDDINGS_MODEL}
      - EMBEDDINGS_MAX_TEXT_LENGTH=${EMBEDDINGS_MAX_TEXT_LENGTH}
      - NODE_TOKEN=${EMBEDDINGS_NODE_TOKEN}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - OPENOBSERVE_ENDPOINT=${OPENOBSERVE_ENDPOINT}
      - OPENOBSERVE_ORG=${OPENOBSERVE_ORG}
      - OPENOBSERVE_STREAM=${OPENOBSERVE_STREAM}
      - OPENOBSERVE_USERNAME=${OPENOBSERVE_USERNAME}
      - OPENOBSERVE_PASSWORD=${OPENOBSERVE_PASSWORD}
      - OPENOBSERVE_BATCHSIZE=${OPENOBSERVE_BATCHSIZE}
      - OPENOBSERVE_FLUSH_INTERVAL=${OPENOBSERVE_FLUSH_INTERVAL}
      - OPENOBSERVE_LOG_LEVEL=${OPENOBSERVE_LOG_LEVEL}
      - LOG_LEVEL=${LOG_LEVEL}
    volumes:
      - /srv/openagents/embeddings/cache:/cache
    networks:
      - openagents-mvp-network

  retrieval:
    image: ghcr.io/openagentsinc/openagents-document-retrieval@sha256:779be1f2c2c24fb2d617cb20d906cddfcea62cd916883809639403d10555786e
    restart: always
    environment:
      - POOL_ADDRESS=${POOL_ADDRESS}
      - POOL_PORT=${POOL_PORT}
      - POOL_SSL=${POOL_SSL}
      - NODE_TOKEN=${DOCUMENT_RETRIEVAL_NODE_TOKEN}
      - OPENOBSERVE_ENDPOINT=${OPENOBSERVE_ENDPOINT}
      - OPENOBSERVE_ORG=${OPENOBSERVE_ORG}
      - OPENOBSERVE_STREAM=${OPENOBSERVE_STREAM}
      - OPENOBSERVE_USERNAME=${OPENOBSERVE_USERNAME}
      - OPENOBSERVE_PASSWORD=${OPENOBSERVE_PASSWORD}
      - OPENOBSERVE_BATCHSIZE=${OPENOBSERVE_BATCHSIZE}
      - OPENOBSERVE_FLUSH_INTERVAL=${OPENOBSERVE_FLUSH_INTERVAL}
      - OPENOBSERVE_LOG_LEVEL=${OPENOBSERVE_LOG_LEVEL}
      - LOG_LEVEL=${LOG_LEVEL}
    volumes:
      - /srv/openagents/retrieval/cache:/cache
    networks:
      - openagents-mvp-network

  hookproxy:
    image: ghcr.io/openagentsinc/openagents-webhook-proxy:master
    restart: always
    environment:
      - SERVER_CRT=/etc/letsencrypt/live/mvp-pool/fullchain.pem
      - SERVER_KEY=/etc/letsencrypt/live/mvp-pool/privkey.pem
    volumes:
      - /srv/openagents/letsencrypt/etc:/etc/letsencrypt
    networks:
      - openagents-mvp-network
    ports:
      - "3000:3000"
    command: server

  tools:
    image: ghcr.io/openagentsinc/openagents-tools@sha256:22a9056c88022f10f237dd7d7d6eef16d80ccf42f3485795f5045eac40107afa
    restart: always
    environment:
      - POOL_ADDRESS=${POOL_ADDRESS}
      - POOL_PORT=${POOL_PORT}
      - POOL_SSL=${POOL_SSL}
      - NODE_TOKEN=${TOOLS_NODE_TOKEN}
      - OPENOBSERVE_ENDPOINT=${OPENOBSERVE_ENDPOINT}
      - OPENOBSERVE_ORG=${OPENOBSERVE_ORG}
      - OPENOBSERVE_STREAM=${OPENOBSERVE_STREAM}
      - OPENOBSERVE_USERNAME=${OPENOBSERVE_USERNAME}
      - OPENOBSERVE_PASSWORD=${OPENOBSERVE_PASSWORD}
      - OPENOBSERVE_BATCHSIZE=${OPENOBSERVE_BATCHSIZE}
      - OPENOBSERVE_FLUSH_INTERVAL=${OPENOBSERVE_FLUSH_INTERVAL}
      - OPENOBSERVE_LOG_LEVEL=${OPENOBSERVE_LOG_LEVEL}
      - LOG_LEVEL=${LOG_LEVEL}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    volumes:
      - /srv/openagents/tools/cache:/cache
    networks:
      - openagents-mvp-network

networks:
  openagents-mvp-network:
    driver: bridge