services:
        
   
  openobserve:
    image: public.ecr.aws/zinclabs/openobserve:latest
    restart: unless-stopped
    environment:
      ZO_ROOT_USER_EMAIL: ${OPENOBSERVE_ROOT_EMAIL}
      ZO_ROOT_USER_PASSWORD: ${OPENOBSERVE_ROOT_PASSWORD}
    volumes:
      - /srv/openagents/openobserve:/data
    network_mode: host


  nostr-relay:
    image: ghcr.io/hoytech/strfry:latest
    restart: always
    volumes:
      - /srv/openagents/nostr-relay/strfry.conf:/etc/strfry.conf
      - /srv/openagents/nostr-relay/data:/app/strfry-db
    networks:
      - openagents-network
    network_mode: host



  certbot:
    image: certbot/dns-cloudflare
    volumes:
      - /srv/openagents/letsencrypt/etc:/etc/letsencrypt
      - /srv/openagents/letsencrypt/log:/var/log/letsencrypt
      - /srv/openagents/letsencrypt/lib:/var/lib/letsencrypt
      - /srv/openagents/letsencrypt/cf.ini:/etc/letsencrypt/cf.ini
    command: certonly --dns-cloudflare --dns-cloudflare-credentials /etc/letsencrypt/cf.ini -d ${SSL_DOMAINS} --cert-name devel-pool  --dns-cloudflare-propagation-seconds 60  --non-interactive --expand --agree-tos -m $SSL_EMAIL
    network_mode: host

  pool:
    image: ghcr.io/openagentsinc/openagents-pool:master
    restart: always
    networks:
      - openagents-mvp-network
    environment:
      - NOSTR_RELAYS=${NOSTR_RELAYS}
      - POOL_NOSTR_SECRET_KEY=${POOL_NOSTR_SECRET_KEY}
      - POOL_GRPC_SERVER_CRT=/etc/letsencrypt/live/devel-pool/fullchain.pem
      - POOL_GRPC_SERVER_KEY=/etc/letsencrypt/live/devel-pool/privkey.pem
      - OPENOBSERVE_ENDPOINT=${OPENOBSERVE_ENDPOINT}
      - OPENOBSERVE_ORG=${OPENOBSERVE_ORG}
      - OPENOBSERVE_STREAM=${OPENOBSERVE_STREAM}
      - OPENOBSERVE_USERNAME=${OPENOBSERVE_USERNAME}
      - OPENOBSERVE_PASSWORD=${OPENOBSERVE_PASSWORD}
      - OPENOBSERVE_BATCHSIZE=${OPENOBSERVE_BATCHSIZE}
      - OPENOBSERVE_FLUSH_INTERVAL=${OPENOBSERVE_FLUSH_INTERVAL}
      - OPENOBSERVE_LOG_LEVEL=${OPENOBSERVE_LOG_LEVEL}
      - POOL_EVENTS_WEBHOOK_ENDPOINTS=${POOL_EVENTS_WEBHOOK_ENDPOINTS}
      - POOL_AUTH_SERVICE=""
    volumes:
      - /srv/openagents/pool/blobs:/blobs
      - /srv/openagents/letsencrypt/etc:/etc/letsencrypt
    network_mode: host


  extism-runtime:
    image: ghcr.io/openagentsinc/openagents-extism-runtime:master
    restart: always
    environment:
      - POOL_ADDRESS=${POOL_ADDRESS}
      - POOL_PORT=${POOL_PORT}
      - POOL_SSL=${POOL_SSL}
      - EXTISM_RUNTIME_SECRETS_PROVIDERS=/secrets/secrets.json
      - NODE_TOKEN=${EXTISM_RUNTIME_NODE_TOKEN}
      - OPENOBSERVE_ENDPOINT=${OPENOBSERVE_ENDPOINT}
      - OPENOBSERVE_ORG=${OPENOBSERVE_ORG}
      - OPENOBSERVE_STREAM=${OPENOBSERVE_STREAM}
      - OPENOBSERVE_USERNAME=${OPENOBSERVE_USERNAME}
      - OPENOBSERVE_PASSWORD=${OPENOBSERVE_PASSWORD}
      - OPENOBSERVE_BATCHSIZE=${OPENOBSERVE_BATCHSIZE}
      - OPENOBSERVE_FLUSH_INTERVAL=${OPENOBSERVE_FLUSH_INTERVAL}
      - OPENOBSERVE_LOG_LEVEL=${OPENOBSERVE_LOG_LEVEL}
    
    volumes:
      -  /srv/openagents/extism-runtime/secrets:/secrets
    network_mode: host


  search:
    image: ghcr.io/openagentsinc/openagents-search:master
    restart: always
    environment:
      - POOL_ADDRESS=${POOL_ADDRESS}
      - POOL_PORT=${POOL_PORT}
      - POOL_SSL=${POOL_SSL}
      - NODE_TOKEN=${SEARCH_NODE_TOKEN}
      - OPENOBSERVE_ENDPOINT=${OPENOBSERVE_ENDPOINT}
      - OPENOBSERVE_ORG=${OPENOBSERVE_ORG}
      - OPENOBSERVE_STREAM=${OPENOBSERVE_STREAM}
      - OPENOBSERVE_USERNAME=${OPENOBSERVE_USERNAME}
      - OPENOBSERVE_PASSWORD=${OPENOBSERVE_PASSWORD}
      - OPENOBSERVE_BATCHSIZE=${OPENOBSERVE_BATCHSIZE}
      - OPENOBSERVE_FLUSH_INTERVAL=${OPENOBSERVE_FLUSH_INTERVAL}
      - OPENOBSERVE_LOG_LEVEL=${OPENOBSERVE_LOG_LEVEL}
    volumes:
      - /srv/openagents/search/cache:/cache
    network_mode: host

    
  embeddings:
    image: ghcr.io/openagentsinc/openagents-embeddings:master
    restart: always
    environment:
      - POOL_ADDRESS=${POOL_ADDRESS}
      - POOL_PORT=${POOL_PORT}
      - POOL_SSL=${POOL_SSL}
      - CACHE_PATH=/cache
      - EMBEDDINGS_TRANSFORMERS_DEVICE=${EMBEDDINGS_TRANSFORMERS_DEVICE}
      - EMBEDDINGS_MODEL=${EMBEDDINGS_MODEL}
      - EMBEDDINGS_MAX_TEXT_LENGTH=${EMBEDDINGS_MAX_TEXT_LENGTH}
      - NODE_TOKEN=${EMBEDDINGS_NODE_TOKEN}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - OPENOBSERVE_ENDPOINT=${OPENOBSERVE_ENDPOINT}
      - OPENOBSERVE_ORG=${OPENOBSERVE_ORG}
      - OPENOBSERVE_STREAM=${OPENOBSERVE_STREAM}
      - OPENOBSERVE_USERNAME=${OPENOBSERVE_USERNAME}
      - OPENOBSERVE_PASSWORD=${OPENOBSERVE_PASSWORD}
      - OPENOBSERVE_BATCHSIZE=${OPENOBSERVE_BATCHSIZE}
      - OPENOBSERVE_FLUSH_INTERVAL=${OPENOBSERVE_FLUSH_INTERVAL}
      - OPENOBSERVE_LOG_LEVEL=${OPENOBSERVE_LOG_LEVEL}
    volumes:
      - /srv/openagents/embeddings/cache:/cache
    network_mode: host

  retrieval:
    image: ghcr.io/openagentsinc/openagents-document-retrieval:master
    restart: always
    environment:
      - POOL_ADDRESS=${POOL_ADDRESS}
      - POOL_PORT=${POOL_PORT}
      - POOL_SSL=${POOL_SSL}
      - NODE_TOKEN=${DOCUMENT_RETRIEVAL_NODE_TOKEN}
      - OPENOBSERVE_ENDPOINT=${OPENOBSERVE_ENDPOINT}
      - OPENOBSERVE_ORG=${OPENOBSERVE_ORG}
      - OPENOBSERVE_STREAM=${OPENOBSERVE_STREAM}
      - OPENOBSERVE_USERNAME=${OPENOBSERVE_USERNAME}
      - OPENOBSERVE_PASSWORD=${OPENOBSERVE_PASSWORD}
      - OPENOBSERVE_BATCHSIZE=${OPENOBSERVE_BATCHSIZE}
      - OPENOBSERVE_FLUSH_INTERVAL=${OPENOBSERVE_FLUSH_INTERVAL}
      - OPENOBSERVE_LOG_LEVEL=${OPENOBSERVE_LOG_LEVEL}

    volumes:
      - /srv/openagents/retrieval/cache:/cache
    network_mode: host

 